<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- URL for server that supplies servers to puch data to -->
    <add key="serverpollurl" value="https://liveresultat.orientering.se/configs/getConnectionSettings.php" />
    <!-- Key to get server connection data -->
    <add key="serverpollkey" value="liveemmaclient" />

    <!-- OR, add server(s) manually. Format: host;user;pw;db -->
   <!-- <add key="emmaServer1" value="obasen.nu;liveresultat;web;liveresultat"/>
    <add key="emmaServer2" value="54.247.102.48;liveresultat;web;liveresultat"/>-->
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
