@import "minima";

img {
  max-width: 100%;
  height: auto;
}

main {
  max-width: 900px;
}

a,
code,
pre {
  overflow-wrap: anywhere;
  word-wrap: break-word;
}

pre,
code {
  white-space: pre-wrap;
}